.card {
  min-width: 540px;
  max-width: 540px;
}

.card__title {
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card_content {
}

.card__list-item {
  display: flex;
  margin-top: 16px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid #000;

}
