/* css global */
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
}
/* inicio css header */
.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  box-sizing: border-box;
  background-image: url("../images/background_header.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 500;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  right: 50px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  padding: 0;
  column-gap: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #1f69c9;
}

.header__title {
  max-width: 729px;
  margin-top: 183px;
  font-size: 60px;
  line-height: 72px;
  font-weight: 500;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  color: #2f80ed;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
}

.header__image {
  z-index: 1;
  width: 636px;
  height: 568px;
  position: absolute;
  top: 110px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  color: #838383;
  z-index: 2;
}

.header__hours {
  margin: 0;
}

.header__span {
  display: block;
}

.header__address {
  margin: 0;
}

/* fin css header */

/* inicio css main section recipes */
.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.recipes__title {
  max-width: 580px;
  margin-top: 0;
  padding-top: 100px;
  padding-left: 80px;
  margin-bottom: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-top: 24px;
  padding-left: 80px;
  margin-bottom: 0;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  padding-top: 80px;
  padding-bottom: 215px;
  justify-content: center;
}

/* .recipes__video-item {
}

No les encontre uso

.recipes__iframe {
} */

.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
/* fin css recipes */
/* inicio css reservation */

.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 100px;
  padding-bottom: 120px;
}

.reservation__title {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 80px auto 0;
  max-width: 385px;
  display: flex;
}

.form__fieldset {
  padding: 0;
  border: none;
}

.form__label {
  display: block;
  margin-bottom: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checked {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}

.form__input {
  border-radius: 4px;
  margin-bottom: 32px;
  width: 385px;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__input::placeholder {
  padding: 15px 20px;
}

.form__button {
  width: 385px;
  max-width: 385px;
  height: 60px;
  border-radius: 4px;
  margin-bottom: 32px;
  border: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: #2f80ed;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  margin: 0 auto;
  border-radius: 2px;
}
